In [1]:
#importing libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [28]:
#Reading files and storing them in variables
ny=pd.read_csv("yellow_tripdata_2018-01.csv") #database of yellow cabs in the month of January
borough=pd.read_csv("taxi _zone_lookup.csv") #databases with the classification of zones in boroughs

In [4]:
#ny

In [29]:
ny=ny[(ny["PULocationID"]<=263) &(ny["DOLocationID"]<=263)]
#remove taxis outside the boroughs. Seen on taxis lookup zones db

In [7]:
ny

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.00,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
5,1,2018-01-01 00:29:29,2018-01-01 00:32:48,3,0.50,1,N,143,143,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
6,1,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,N,50,239,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
7,1,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,N,239,238,1,4.0,0.5,0.5,1.00,0.00,0.3,6.30
8,1,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,N,238,24,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
9,1,2018-01-01 00:17:04,2018-01-01 00:22:24,1,0.70,1,N,170,170,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
10,1,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,N,162,229,1,5.5,0.5,0.5,1.35,0.00,0.3,8.15
11,1,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,N,141,113,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
12,2,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,N,137,224,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
13,2,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,N,224,79,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
14,2,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,N,234,100,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
15,1,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,N,13,189,1,19.0,0.5,0.5,4.05,0.00,0.3,24.35
16,2,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,N,48,236,1,25.5,0.5,0.5,6.70,0.00,0.3,33.50
17,1,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,N,163,162,1,4.5,0.5,0.5,1.70,0.00,0.3,7.50
18,1,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,N,229,61,2,35.0,0.5,0.5,0.00,0.00,0.3,36.30
19,2,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,N,236,75,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
20,2,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,N,263,143,2,13.0,0.5,0.5,0.00,0.00,0.3,14.30
21,2,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,N,239,24,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
22,2,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,N,90,233,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
23,2,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,N,233,125,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
24,1,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,N,161,146,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
25,2,2018-01-01 00:17:15,2018-01-01 00:21:49,5,0.25,1,N,234,234,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
26,2,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,N,234,143,1,16.0,0.5,0.5,3.46,0.00,0.3,20.76
27,2,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,N,142,239,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36
28,1,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,N,170,162,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
29,1,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,N,233,263,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759844,2,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,N,234,186,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759845,2,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,N,68,209,1,18.0,0.5,0.5,3.86,0.00,0.3,23.16
8759846,2,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,N,209,114,1,13.5,0.5,0.5,2.50,0.00,0.3,17.30
8759847,2,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,N,211,186,1,10.5,0.5,0.5,2.36,0.00,0.3,14.16
8759848,1,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,N,43,263,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
8759849,2,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,N,158,88,1,14.5,0.5,0.5,3.16,0.00,0.3,18.96
8759850,2,2018-01-31 23:28:47,2018-01-31 23:35:54,3,0.75,1,N,231,231,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
8759851,2,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,N,90,256,1,18.5,0.5,0.5,3.96,0.00,0.3,23.76
8759852,2,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,N,148,163,2,21.5,0.5,0.5,0.00,0.00,0.3,22.80
8759853,2,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,N,161,261,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
8759854,2,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,N,88,97,1,14.5,0.5,0.5,3.95,0.00,0.3,19.75
8759855,2,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,N,142,230,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30
8759856,2,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,N,138,230,1,34.5,0.5,0.5,5.00,5.76,0.3,46.56
8759857,1,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,N,230,48,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35
8759858,1,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,N,100,230,1,4.5,0.5,0.5,0.01,0.00,0.3,5.81
8759859,2,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,N,138,64,1,36.5,0.5,0.5,7.56,0.00,0.3,45.36
8759860,1,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,N,186,16,1,42.0,0.5,0.5,15.00,5.76,0.3,64.06
8759861,2,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,N,238,151,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
8759862,2,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,N,151,41,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
8759863,2,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,N,238,48,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80
8759864,1,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,N,137,148,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
8759865,1,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,N,163,230,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759866,1,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,N,43,162,1,6.0,0.5,0.5,1.50,0.00,0.3,8.80
8759867,2,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,N,234,158,1,8.5,0.5,0.5,2.45,0.00,0.3,12.25
8759868,2,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,N,230,238,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
8759869,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
8759870,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.00,0.3,6.95
8759871,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80
8759872,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00
8759873,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00

In [ ]:
ny.columns #columns of the database

In [30]:
ny=ny[ny["fare_amount"]>2.5]
#removing all amounts lower or equal to 2.5(standard fare)

In [11]:
ny
#ny2
#del ny2
#del ny3
#del ny4

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.00,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
5,1,2018-01-01 00:29:29,2018-01-01 00:32:48,3,0.50,1,N,143,143,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
6,1,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,N,50,239,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
7,1,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,N,239,238,1,4.0,0.5,0.5,1.00,0.00,0.3,6.30
8,1,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,N,238,24,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
9,1,2018-01-01 00:17:04,2018-01-01 00:22:24,1,0.70,1,N,170,170,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
10,1,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,N,162,229,1,5.5,0.5,0.5,1.35,0.00,0.3,8.15
11,1,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,N,141,113,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
12,2,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,N,137,224,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
13,2,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,N,224,79,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
14,2,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,N,234,100,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
15,1,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,N,13,189,1,19.0,0.5,0.5,4.05,0.00,0.3,24.35
16,2,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,N,48,236,1,25.5,0.5,0.5,6.70,0.00,0.3,33.50
17,1,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,N,163,162,1,4.5,0.5,0.5,1.70,0.00,0.3,7.50
18,1,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,N,229,61,2,35.0,0.5,0.5,0.00,0.00,0.3,36.30
19,2,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,N,236,75,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
20,2,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,N,263,143,2,13.0,0.5,0.5,0.00,0.00,0.3,14.30
21,2,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,N,239,24,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
22,2,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,N,90,233,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
23,2,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,N,233,125,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
24,1,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,N,161,146,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
25,2,2018-01-01 00:17:15,2018-01-01 00:21:49,5,0.25,1,N,234,234,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
26,2,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,N,234,143,1,16.0,0.5,0.5,3.46,0.00,0.3,20.76
27,2,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,N,142,239,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36
28,1,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,N,170,162,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
29,1,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,N,233,263,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759842,2,2018-01-31 23:27:19,2018-01-31 23:46:42,1,4.18,1,N,97,249,2,17.0,0.5,0.5,0.00,0.00,0.3,18.30
8759843,1,2018-01-31 23:02:19,2018-01-31 23:15:12,1,3.20,1,N,162,75,1,12.0,0.5,0.5,2.00,0.00,0.3,15.30
8759844,2,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,N,234,186,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759845,2,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,N,68,209,1,18.0,0.5,0.5,3.86,0.00,0.3,23.16
8759846,2,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,N,209,114,1,13.5,0.5,0.5,2.50,0.00,0.3,17.30
8759847,2,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,N,211,186,1,10.5,0.5,0.5,2.36,0.00,0.3,14.16
8759848,1,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,N,43,263,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
8759849,2,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,N,158,88,1,14.5,0.5,0.5,3.16,0.00,0.3,18.96
8759850,2,2018-01-31 23:28:47,2018-01-31 23:35:54,3,0.75,1,N,231,231,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
8759851,2,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,N,90,256,1,18.5,0.5,0.5,3.96,0.00,0.3,23.76
8759852,2,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,N,148,163,2,21.5,0.5,0.5,0.00,0.00,0.3,22.80
8759853,2,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,N,161,261,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
8759854,2,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,N,88,97,1,14.5,0.5,0.5,3.95,0.00,0.3,19.75
8759855,2,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,N,142,230,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30
8759856,2,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,N,138,230,1,34.5,0.5,0.5,5.00,5.76,0.3,46.56
8759857,1,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,N,230,48,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35
8759858,1,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,N,100,230,1,4.5,0.5,0.5,0.01,0.00,0.3,5.81
8759859,2,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,N,138,64,1,36.5,0.5,0.5,7.56,0.00,0.3,45.36
8759860,1,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,N,186,16,1,42.0,0.5,0.5,15.00,5.76,0.3,64.06
8759861,2,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,N,238,151,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
8759862,2,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,N,151,41,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
8759863,2,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,N,238,48,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80
8759864,1,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,N,137,148,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
8759865,1,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,N,163,230,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759866,1,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,N,43,162,1,6.0,0.5,0.5,1.50,0.00,0.3,8.80
8759867,2,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,N,234,158,1,8.5,0.5,0.5,2.45,0.00,0.3,12.25
8759868,2,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,N,230,238,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
8759869,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
8759870,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.00,0.3,6.95
8759871,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80

In [31]:
ny=ny[ny["trip_distance"]>=0]#no negative distances

In [32]:
ny=ny[(ny["trip_distance"]>=0) & ((ny["RatecodeID"]==5 )| (ny["PULocationID"]!=ny["DOLocationID"]))]

In [13]:
#ny4[(ny4["trip_distance"]==0) &(ny4["RatecodeID"]==1)]
ny

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.00,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
6,1,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,N,50,239,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
7,1,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,N,239,238,1,4.0,0.5,0.5,1.00,0.00,0.3,6.30
8,1,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,N,238,24,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
10,1,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,N,162,229,1,5.5,0.5,0.5,1.35,0.00,0.3,8.15
11,1,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,N,141,113,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
12,2,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,N,137,224,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
13,2,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,N,224,79,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
14,2,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,N,234,100,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
15,1,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,N,13,189,1,19.0,0.5,0.5,4.05,0.00,0.3,24.35
16,2,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,N,48,236,1,25.5,0.5,0.5,6.70,0.00,0.3,33.50
17,1,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,N,163,162,1,4.5,0.5,0.5,1.70,0.00,0.3,7.50
18,1,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,N,229,61,2,35.0,0.5,0.5,0.00,0.00,0.3,36.30
19,2,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,N,236,75,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
20,2,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,N,263,143,2,13.0,0.5,0.5,0.00,0.00,0.3,14.30
21,2,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,N,239,24,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
22,2,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,N,90,233,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
23,2,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,N,233,125,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
24,1,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,N,161,146,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
26,2,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,N,234,143,1,16.0,0.5,0.5,3.46,0.00,0.3,20.76
27,2,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,N,142,239,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36
28,1,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,N,170,162,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
29,1,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,N,233,263,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
30,1,2018-01-01 00:49:20,2018-01-01 00:57:58,2,1.20,1,N,236,237,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
31,1,2018-01-01 00:13:37,2018-01-01 00:23:52,1,2.70,1,N,142,166,1,10.5,0.5,0.5,2.35,0.00,0.3,14.15
32,1,2018-01-01 00:33:29,2018-01-01 01:18:08,2,4.30,1,N,238,249,2,27.5,0.5,0.5,0.00,0.00,0.3,28.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759841,2,2018-01-31 23:55:38,2018-02-01 00:35:44,1,12.63,1,N,107,39,2,40.5,0.5,0.5,0.00,0.00,0.3,41.80
8759842,2,2018-01-31 23:27:19,2018-01-31 23:46:42,1,4.18,1,N,97,249,2,17.0,0.5,0.5,0.00,0.00,0.3,18.30
8759843,1,2018-01-31 23:02:19,2018-01-31 23:15:12,1,3.20,1,N,162,75,1,12.0,0.5,0.5,2.00,0.00,0.3,15.30
8759844,2,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,N,234,186,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759845,2,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,N,68,209,1,18.0,0.5,0.5,3.86,0.00,0.3,23.16
8759846,2,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,N,209,114,1,13.5,0.5,0.5,2.50,0.00,0.3,17.30
8759847,2,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,N,211,186,1,10.5,0.5,0.5,2.36,0.00,0.3,14.16
8759848,1,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,N,43,263,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
8759849,2,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,N,158,88,1,14.5,0.5,0.5,3.16,0.00,0.3,18.96
8759851,2,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,N,90,256,1,18.5,0.5,0.5,3.96,0.00,0.3,23.76
8759852,2,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,N,148,163,2,21.5,0.5,0.5,0.00,0.00,0.3,22.80
8759853,2,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,N,161,261,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
8759854,2,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,N,88,97,1,14.5,0.5,0.5,3.95,0.00,0.3,19.75
8759855,2,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,N,142,230,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30
8759856,2,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,N,138,230,1,34.5,0.5,0.5,5.00,5.76,0.3,46.56
8759857,1,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,N,230,48,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35
8759858,1,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,N,100,230,1,4.5,0.5,0.5,0.01,0.00,0.3,5.81
8759859,2,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,N,138,64,1,36.5,0.5,0.5,7.56,0.00,0.3,45.36
8759860,1,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,N,186,16,1,42.0,0.5,0.5,15.00,5.76,0.3,64.06
8759861,2,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,N,238,151,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
8759862,2,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,N,151,41,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
8759863,2,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,N,238,48,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80
8759864,1,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,N,137,148,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
8759865,1,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,N,163,230,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
8759866,1,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,N,43,162,1,6.0,0.5,0.5,1.50,0.00,0.3,8.80
8759867,2,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,N,234,158,1,8.5,0.5,0.5,2.45,0.00,0.3,12.25
8759868,2,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,N,230,238,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
8759869,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
8759870,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.00,0.3,6.95
8759871,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80

In [33]:
ny=ny.join(borough.set_index("LocationID"),on="PULocationID")

In [20]:
ny

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,DOLocationID,payment_type,PUBorough
0,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,24,2,Manhattan
1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,140,2,Manhattan
2,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,141,1,Manhattan
3,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,257,2,Manhattan
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,239,1,Manhattan
6,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,239,1,Manhattan
7,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,238,1,Manhattan
8,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,24,1,Manhattan
10,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,229,1,Manhattan
11,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,113,2,Manhattan
12,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,224,2,Manhattan
13,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,79,2,Manhattan
14,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,100,2,Manhattan
15,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,189,1,Manhattan
16,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,236,1,Manhattan
17,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,162,1,Manhattan
18,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,61,2,Manhattan
19,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,75,2,Manhattan
20,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,143,2,Manhattan
21,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,24,2,Manhattan
22,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,233,1,Manhattan
23,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,125,2,Manhattan
24,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,146,1,Manhattan
26,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,143,1,Manhattan
27,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,239,1,Manhattan
28,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,162,2,Manhattan
29,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,263,2,Manhattan
30,2018-01-01 00:49:20,2018-01-01 00:57:58,2,1.20,1,237,2,Manhattan
31,2018-01-01 00:13:37,2018-01-01 00:23:52,1,2.70,1,166,1,Manhattan
32,2018-01-01 00:33:29,2018-01-01 01:18:08,2,4.30,1,249,2,Manhattan
...,...,...,...,...,...,...,...,...
8759841,2018-01-31 23:55:38,2018-02-01 00:35:44,1,12.63,1,39,2,Manhattan
8759842,2018-01-31 23:27:19,2018-01-31 23:46:42,1,4.18,1,249,2,Brooklyn
8759843,2018-01-31 23:02:19,2018-01-31 23:15:12,1,3.20,1,75,1,Manhattan
8759844,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,186,2,Manhattan
8759845,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,209,1,Manhattan
8759846,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,114,1,Manhattan
8759847,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,186,1,Manhattan
8759848,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,263,1,Manhattan
8759849,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,88,1,Manhattan
8759851,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,256,1,Manhattan
8759852,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,163,2,Manhattan
8759853,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,261,2,Manhattan
8759854,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,97,1,Manhattan
8759855,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,230,2,Manhattan
8759856,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,230,1,Queens
8759857,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,48,1,Manhattan
8759858,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,230,1,Manhattan
8759859,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,64,1,Queens
8759860,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,16,1,Manhattan
8759861,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,151,2,Manhattan
8759862,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,41,2,Manhattan
8759863,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,48,2,Manhattan
8759864,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,148,2,Manhattan
8759865,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,230,2,Manhattan
8759866,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,162,1,Manhattan
8759867,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,158,1,Manhattan
8759868,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,238,2,Manhattan
8759869,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,163,1,Manhattan
8759870,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,162,1,Manhattan
8759871,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,69,2,Manhattan

In [34]:
ny=ny.rename(index = str, columns = {"Borough":"PUBorough"})

In [35]:
ny=ny.drop(["PULocationID","Zone","service_zone","VendorID","store_and_fwd_flag","fare_amount","extra","mta_tax","tip_amount","tolls_amount","improvement_surcharge","total_amount"],axis=1)
#ny6=ny5.join(borough.set_index("LocationID"),on="DOLocationID")

In [36]:
ny=ny.join(borough.set_index("LocationID"),on="DOLocationID")

In [37]:
ny=ny.rename(index = str, columns = {"Borough":"DOBorough"})

In [38]:
ny=ny.drop(["DOLocationID","Zone","service_zone"],axis=1)

In [39]:
ny

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,payment_type,PUBorough,DOBorough
0,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,2,Manhattan,Manhattan
1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,2,Manhattan,Manhattan
2,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,1,Manhattan,Manhattan
3,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,2,Manhattan,Brooklyn
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,1,Manhattan,Manhattan
6,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,1,Manhattan,Manhattan
7,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,1,Manhattan,Manhattan
8,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,1,Manhattan,Manhattan
10,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,1,Manhattan,Manhattan
11,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,2,Manhattan,Manhattan
12,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,2,Manhattan,Manhattan
13,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,2,Manhattan,Manhattan
14,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,2,Manhattan,Manhattan
15,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,1,Manhattan,Brooklyn
16,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,1,Manhattan,Manhattan
17,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,1,Manhattan,Manhattan
18,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,2,Manhattan,Brooklyn
19,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,2,Manhattan,Manhattan
20,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,2,Manhattan,Manhattan
21,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,2,Manhattan,Manhattan
22,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,1,Manhattan,Manhattan
23,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,2,Manhattan,Manhattan
24,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,1,Manhattan,Queens
26,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,1,Manhattan,Manhattan
27,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,1,Manhattan,Manhattan
28,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,2,Manhattan,Manhattan
29,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,2,Manhattan,Manhattan
30,2018-01-01 00:49:20,2018-01-01 00:57:58,2,1.20,1,2,Manhattan,Manhattan
31,2018-01-01 00:13:37,2018-01-01 00:23:52,1,2.70,1,1,Manhattan,Manhattan
32,2018-01-01 00:33:29,2018-01-01 01:18:08,2,4.30,1,2,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...
8759841,2018-01-31 23:55:38,2018-02-01 00:35:44,1,12.63,1,2,Manhattan,Brooklyn
8759842,2018-01-31 23:27:19,2018-01-31 23:46:42,1,4.18,1,2,Brooklyn,Manhattan
8759843,2018-01-31 23:02:19,2018-01-31 23:15:12,1,3.20,1,1,Manhattan,Manhattan
8759844,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,2,Manhattan,Manhattan
8759845,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,1,Manhattan,Manhattan
8759846,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,1,Manhattan,Manhattan
8759847,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,1,Manhattan,Manhattan
8759848,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,1,Manhattan,Manhattan
8759849,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,1,Manhattan,Manhattan
8759851,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,1,Manhattan,Brooklyn
8759852,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,2,Manhattan,Manhattan
8759853,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,2,Manhattan,Manhattan
8759854,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,1,Manhattan,Brooklyn
8759855,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,2,Manhattan,Manhattan
8759856,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,1,Queens,Manhattan
8759857,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,1,Manhattan,Manhattan
8759858,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,1,Manhattan,Manhattan
8759859,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,1,Queens,Queens
8759860,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,1,Manhattan,Queens
8759861,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,2,Manhattan,Manhattan
8759862,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,2,Manhattan,Manhattan
8759863,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,2,Manhattan,Manhattan
8759864,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,2,Manhattan,Manhattan
8759865,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,2,Manhattan,Manhattan
8759866,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,1,Manhattan,Manhattan
8759867,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,1,Manhattan,Manhattan
8759868,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,2,Manhattan,Manhattan
8759869,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,1,Manhattan,Manhattan
8759870,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,1,Manhattan,Manhattan
8759871,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,2,Manhattan,Bronx

In [40]:
ny['tpep_pickup_datetime'] = pd.to_datetime(ny['tpep_pickup_datetime'])
ny['tpep_dropoff_datetime'] = pd.to_datetime(ny['tpep_dropoff_datetime'])
ny["duration"] = ny['tpep_dropoff_datetime'] - ny['tpep_pickup_datetime']    
#ny.loc[:, 'duration'] = dif

In [41]:
ny

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,payment_type,PUBorough,DOBorough,duration
0,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,2,Manhattan,Manhattan,00:03:18
1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,2,Manhattan,Manhattan,00:18:10
2,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,1,Manhattan,Manhattan,00:05:55
3,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,2,Manhattan,Brooklyn,00:32:29
4,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,1,Manhattan,Manhattan,00:17:48
6,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,1,Manhattan,Manhattan,00:10:16
7,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,1,Manhattan,Manhattan,00:02:24
8,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,1,Manhattan,Manhattan,00:04:27
10,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,1,Manhattan,Manhattan,00:05:46
11,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,2,Manhattan,Manhattan,00:24:39
12,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,2,Manhattan,Manhattan,00:04:11
13,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,2,Manhattan,Manhattan,00:09:33
14,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,2,Manhattan,Manhattan,00:15:46
15,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,1,Manhattan,Brooklyn,00:17:06
16,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,1,Manhattan,Manhattan,00:42:33
17,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,1,Manhattan,Manhattan,00:04:13
18,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,2,Manhattan,Brooklyn,00:36:45
19,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,2,Manhattan,Manhattan,00:05:56
20,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,2,Manhattan,Manhattan,00:19:43
21,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,2,Manhattan,Manhattan,00:12:37
22,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,1,Manhattan,Manhattan,00:21:13
23,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,2,Manhattan,Manhattan,00:26:50
24,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,1,Manhattan,Queens,00:12:55
26,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,1,Manhattan,Manhattan,00:22:01
27,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,1,Manhattan,Manhattan,00:02:50
28,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,2,Manhattan,Manhattan,00:07:14
29,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,2,Manhattan,Manhattan,00:06:57
30,2018-01-01 00:49:20,2018-01-01 00:57:58,2,1.20,1,2,Manhattan,Manhattan,00:08:38
31,2018-01-01 00:13:37,2018-01-01 00:23:52,1,2.70,1,1,Manhattan,Manhattan,00:10:15
32,2018-01-01 00:33:29,2018-01-01 01:18:08,2,4.30,1,2,Manhattan,Manhattan,00:44:39
...,...,...,...,...,...,...,...,...,...
8759841,2018-01-31 23:55:38,2018-02-01 00:35:44,1,12.63,1,2,Manhattan,Brooklyn,00:40:06
8759842,2018-01-31 23:27:19,2018-01-31 23:46:42,1,4.18,1,2,Brooklyn,Manhattan,00:19:23
8759843,2018-01-31 23:02:19,2018-01-31 23:15:12,1,3.20,1,1,Manhattan,Manhattan,00:12:53
8759844,2018-01-31 23:40:38,2018-01-31 23:43:50,1,0.74,1,2,Manhattan,Manhattan,00:03:12
8759845,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,1,Manhattan,Manhattan,00:16:19
8759846,2018-01-31 23:31:18,2018-01-31 23:43:41,2,3.70,1,1,Manhattan,Manhattan,00:12:23
8759847,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,1,Manhattan,Manhattan,00:11:34
8759848,2018-01-31 23:08:35,2018-01-31 23:16:05,1,1.90,1,1,Manhattan,Manhattan,00:07:30
8759849,2018-01-31 23:03:31,2018-01-31 23:17:20,3,4.00,1,1,Manhattan,Manhattan,00:13:49
8759851,2018-01-31 23:01:38,2018-01-31 23:24:36,1,4.29,1,1,Manhattan,Brooklyn,00:22:58
8759852,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,2,Manhattan,Manhattan,00:28:38
8759853,2018-01-31 23:11:36,2018-01-31 23:33:28,1,4.64,1,2,Manhattan,Manhattan,00:21:52
8759854,2018-01-31 23:37:29,2018-01-31 23:51:45,1,4.10,1,1,Manhattan,Brooklyn,00:14:16
8759855,2018-01-31 23:39:15,2018-01-31 23:43:37,1,0.77,1,2,Manhattan,Manhattan,00:04:22
8759856,2018-01-31 23:25:02,2018-01-31 23:55:33,1,10.69,1,1,Queens,Manhattan,00:30:31
8759857,2018-01-31 23:17:00,2018-01-31 23:24:37,1,1.00,1,1,Manhattan,Manhattan,00:07:37
8759858,2018-01-31 23:26:11,2018-01-31 23:29:53,1,0.70,1,1,Manhattan,Manhattan,00:03:42
8759859,2018-01-31 23:11:59,2018-01-31 23:31:33,2,13.36,1,1,Queens,Queens,00:19:34
8759860,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,1,Manhattan,Queens,00:34:59
8759861,2018-01-31 23:11:56,2018-01-31 23:13:53,1,0.75,1,2,Manhattan,Manhattan,00:01:57
8759862,2018-01-31 23:16:59,2018-01-31 23:23:10,1,1.58,1,2,Manhattan,Manhattan,00:06:11
8759863,2018-01-31 23:08:48,2018-01-31 23:24:17,1,2.63,1,2,Manhattan,Manhattan,00:15:29
8759864,2018-01-31 23:05:11,2018-01-31 23:13:53,1,2.60,1,2,Manhattan,Manhattan,00:08:42
8759865,2018-01-31 23:41:11,2018-01-31 23:45:22,1,0.30,1,2,Manhattan,Manhattan,00:04:11
8759866,2018-01-31 23:52:53,2018-01-31 23:57:32,1,1.20,1,1,Manhattan,Manhattan,00:04:39
8759867,2018-01-31 23:20:51,2018-01-31 23:30:51,1,1.65,1,1,Manhattan,Manhattan,00:10:00
8759868,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,2,Manhattan,Manhattan,00:10:11
8759869,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,1,Manhattan,Manhattan,00:12:45
8759870,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,1,Manhattan,Manhattan,00:03:06
8759871,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,2,Manhattan,Bronx,00:09:09